.user-section {
    position: sticky;
    top: 0;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 317px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000005;
    z-index: 10;
}

.company-logo {
    margin-top: 20px;
}

.user-panel {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.bell {
    width: 50px;
    height: 46px;
    border: 1px solid #F1F1F5;
    border-radius: 12px;
    margin-right: 10px;
}

.cart {
    width: 55px;
    height: 46px;
    border: 1px solid #F1F1F5;
    border-radius: 12px;
    margin-right: 10px;
}

#badge {
    position: absolute;
    top: 10px;
    right: 568px;
    color: #FFFFFF;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 11px;
    text-align: center;
}

.flag {
    width: 55px;
    height: 46px;
    border: 1px solid #F1F1F5;
    border-radius: 12px;
    margin-right: 10px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;
    width: 160px;
    height: 46px;
    border: 1px solid #F1F1F5;
    border-radius: 12px;
    margin-right: 10px;
}

.user img {
    padding: 12px 0;
}

.shape {
    padding: 8px 0;
}

.user-name {
    color: #696974;
    font-size: 14px;
    padding: 16px 0;
}

.bell img,
.cart img,
.flag img {
    padding: 12px;
}

.nav {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 317px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000005;
    justify-content: space-between;
}

.left-side-nav ul,
.right-side-nav ul {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

.right-side-nav ul li,
.left-side-nav ul li {
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
}

.banner {
    margin: 20px auto;
    height: 180px;
    max-width: 1286px;
    border-radius: 15px;
    background-image: linear-gradient(#0000004D, #0000004D), 
        url(../content/img/shutterstock_1040057017.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p {
    color: #FFFFFF;
    font-size: 36px;
}

.hidden,
.sorting-row {
    display: none;
}

.burger-icon {
    position: absolute;
    height: 14;
    width: 16;
    top: 28px;
    left: 20px;
}

@media only screen and (max-width: 1919px) {
    .user-section {
        padding: 0;
        max-width: 1286px;
    }

    .nav {
        max-width: 1286px;
        padding: 0;
    }

    #badge {
        right: 251px;
    }
  }

 @media only screen and (max-width: 375px) {
    body {
        max-width: 375px;
    }

    .hidden {
        display: block;
    }

    .nav {
        display: none;
    }

    .user-name,
    .stats,
    .user-section .flag,
    .user-section .shape,
    #badge {
        display: none;
    }

    .bell,
    .cart {
        border: none;
        margin-right: 22px;
    }

    .bell,
    .cart,
    .user {
        height: 16px;
        width: 19px;
    }

    .bell img,
    .cart img,
    .user img {
        padding: 0;
    }

    .user {
        width: auto;
        border: none;
        margin-right: 10px;
    }

    .user-panel {
        margin-top: 25px;
    }

    .company-logo {
        margin-left: 50px;
        margin-top: 25px;
    }

    .user-section {
        height: 70px;
    }

    .banner {
        margin: 0 auto;
        height: 120px;
        max-width: 375px;
        border-radius: 15px;
        background-image: linear-gradient(#0000004D, #0000004D), 
            url(../content/mobile-img/shutterstock_1040057017.png);
        
    }

    .banner p {
        color: #FFFFFF;
        font-size: 20px;
        width: 174px;
        height: 55px;
    }

    .main-content {
        display: block;
    }

    .sorting-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .filter {
        top: 210px;
        left: 20px;
        width: 160px;
        height: 40px;
        padding: 0 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E5E5ED;
        border-radius: 10px;
        opacity: 1;
    }

    .sorting {
        padding: 0 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 210px;
        left: 20px;
        width: 160px;
        height: 40px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E5E5ED;
        border-radius: 10px;
        opacity: 1;
    }

    .filter p,
    .sorting p {
        text-align: center;
        font-size: 14px;
        padding-top: 8px;
    }

    #filter-btn {
        margin-top: 8px;
    }

    .sorting-btn {
        height: 7px;
        width: 10px;
        margin-top: 15px;
    }
}